@use '../../styles/mixins.scss' as *;

.detail {
    margin: 15px;
    padding: 50px clamp(70px, 3vw, 20px);
    @include flex-dir(column);
    gap:20px;
    &__buttons, &__options {
        margin-top: 10px;
        display: flex;
        gap: 20px;
    }
    &__description {
        resize: none;
        width: 100%;
    }   
}

.button {
    display: flex;
    align-self: center;
    gap: 10px;
    cursor: pointer;
    img {
        width: 24px;
    }
}

.loading {
    height: 80vh;
    width: 100%;    
    @include flex-hybrid(center, center);  
}