@use '../../styles/mixins.scss' as m;
  
.layout {
    display: grid;
    grid-template-columns: 0.6fr 1fr; 
    gap: 40px; 
}

.sidebar {
    &__count {
        @include m.flex-hybrid(center, center);
        flex-direction: column;
    }
}

.tasks {
    @include m.flex-dir(column);
    gap: 15px;
    position: relative;
    &__no_result {
        position: absolute;
        left: 50%;
        top: 50%;
    }
}