.card {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
    }
    h1 {
        grid-column: 1/span 2;
        grid-row: 1/2;
    }
    &__condition {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
        display: flex;
        gap: 20px;
    }
    &__info {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: center;
        justify-self: end;
    }
}