@use '../../../styles/mixins.scss' as *;

.search {
  max-width: 400px;
  width: 100%;
  @include flex-hybrid(space-between, center);
  flex-direction: row;
  position: relative;
  input {
    background: var(--bkgrdCard);
    padding: 10px 20px 10px 50px;
    border-radius: 30px;
    flex-grow: 1;
    outline: none;
    border: none;
    &:focus {
      background: var(--background);
    }
  }
  button {
    position: absolute;
    left: 15px;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
